<!doctype html>
<!-- TODO(scottw): Annotate cells with javascript-readable date, so current date can be easily
     highlighted dynamically. And look at the #fragment identifier to find out which date is the
     "current" date for daily flipbook pages. -->
<style type=text/css>
  body, td, th {
    font-family: "Arial", sans-serif;
    font-size: 90%;
  }
  td, th {
    padding: 4px;
    border: 1px solid white;
  }
  th a {
    text-decoration: none;
    color: inherit;
    font-size: 130%;
  }
  td { text-align: right; }
  td a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
  td.m:hover, td.current {
    background-color: #ddd;
  }
  td.today {
    border: 1px solid #ddd;
  }
  td.n {
    color: grey;
  }
  table { border-collapse: collapse; }
</style>

<table>
  <th colspan=7>
  #if $prev_month:
    <a href=../../$minical_uri($prev_month)>&laquo;</a>
  #end if
  <select>
    #for m in sorted($years[$month.year]):
      <option
        #if m == $month:
          selected
        #end if
      >$m.strftime("%b")
    #end for
  </select>
  <select>
    #for year in $years:
      <option
        #if year == $month.year:
          selected
        #end if
      >$year
    #end for
  </select>
  #if $next_month:
    <a href=../../$minical_uri($next_month)>&raquo;</a>
  #end if
  </th>
<tr>
  <th>Su
  <th>M
  <th>T
  <th>W
  <th>H
  <th>F
  <th>Sa
#for week in $weeks:
  <tr>
  #for day in week:
    #if day:
      <td class="
      #if day.month != $month.month:
        n
      #end if
      #if day in $daily_events:
        m
      #end if
      " data-date="$day.strftime('%a, %d %b %Y %H:%M:%S %z')">
      #if day in $daily_events:
        <a href=../../$minical_uri(day)>
      #end if
      $day.day
      #if day in $daily_events:
        </a>
      #end if
    #else
      <td>
    #end if
  #end for
#end for
</table>
<script>
  var today = new Date();
  var tds = document.getElementsByTagName("td");
  for (i in tds) {
    var td = tds[i];
    var d = new Date(td.getAttribute("data-date"));
    if (today.getFullYear() == d.getFullYear() &&
        today.getMonth() == d.getMonth() &&
        today.getDate() == d.getDate()) {
      td.className = td.className + " today";
      break;
    }
  }
</script>